---
import type { Workout } from '../lib/workouts';
import {
  addDays,
  isBefore,
  getDaysInMonth,
  startOfMonth,
  subDays,
  addMonths,
  isSameDay,
} from 'date-fns';
import { utcToZonedTime } from 'date-fns-tz';
import CalendarDay from './CalendarDay.astro';
import { formatTime } from '../lib/time';
import { toFeet, toMiles } from '../lib/distance';

const TOTAL_CALENDAR_DATES = 35;
const DAYS_OF_WEEK = [
  'Sunday',
  'Monday',
  'Tuesday',
  'Wednesday',
  'Thursday',
  'Friday',
  'Saturday',
];

interface Props {
  selectedDate: Date;
  workouts: Array<Workout>;
}

const { selectedDate, workouts } = Astro.props;

const currentMonthStartDate = startOfMonth(selectedDate);

type CalendarDate = {
  date: Date;
  isCurrentMonth: boolean;
  workout: Workout | null;
};

const calendarDates: Array<CalendarDate> = [];
const previousMonthFillerDays = currentMonthStartDate.getDay();
if (previousMonthFillerDays > 0) {
  for (
    let date = subDays(
      currentMonthStartDate,
      previousMonthFillerDays
    );
    isBefore(date, currentMonthStartDate);
    date = addDays(date, 1)
  ) {
    calendarDates.push({
      date,
      isCurrentMonth: false,
      workout:
        workouts.find((workout) =>
          isSameDay(new Date(workout.startTime), date)
        ) || null,
    });
  }
}

for (
  let date = currentMonthStartDate;
  date.getDate() < getDaysInMonth(currentMonthStartDate);
  date = addDays(date, 1)
) {
  calendarDates.push({
    date,
    isCurrentMonth: true,
    workout:
      workouts.find((workout) =>
        isSameDay(new Date(workout.startTime), date)
      ) || null,
  });
}

const nextMonthFillerDays =
  TOTAL_CALENDAR_DATES - calendarDates.length;
if (nextMonthFillerDays > 0) {
  for (
    let date = addMonths(currentMonthStartDate, 1);
    calendarDates.length < TOTAL_CALENDAR_DATES;
    date = addDays(date, 1)
  ) {
    calendarDates.push({
      date,
      isCurrentMonth: false,
      workout:
        workouts.find((workout) =>
          isSameDay(new Date(workout.startTime), date)
        ) || null,
    });
  }
}

const weeks = calendarDates.reduce<Array<Array<CalendarDate>>>(
  (accu, curr, index) => {
    if (index % 7 === 0) {
      accu.push([]);
    }

    accu[accu.length - 1].push(curr);

    return accu;
  },
  []
);
---

<div class="grid grid-cols-8 auto-rows-fr">
  {
    weeks.map((calendarDates) => {
      let weeklyDistance = 0;
      let weeklyDuration = 0;
      let weeklyAscent = 0;

      const calendarDateMarkup = calendarDates.map(
        (calendarDate, i) => {
          if (calendarDate.workout) {
            weeklyDistance += calendarDate.workout.distance;
            weeklyDuration += calendarDate.workout.duration;

            weeklyAscent += calendarDate.workout.totalAscent ?? 0;
          }

          return (
            <CalendarDay
              date={calendarDate.date}
              isCurrentMonth={calendarDate.isCurrentMonth}
              showDay={i < DAYS_OF_WEEK.length}
            >
              {calendarDate.workout
                ? `${toMiles(calendarDate.workout.distance).toFixed(
                    2
                  )}mi in ${formatTime(
                    calendarDate.workout.duration
                  )}`
                : null}
            </CalendarDay>
          );
        }
      );

      const weeklySummary = (
        <div class="text-sm ml-2">
          <div class="font-bold">Weekly Summary</div>
          <div>{toMiles(weeklyDistance).toFixed(2)} miles</div>
          <div>{toFeet(weeklyAscent).toFixed(0)} ft climbed</div>
          <div>{formatTime(weeklyDuration)} elapsed</div>
        </div>
      );

      return calendarDateMarkup.concat(weeklySummary);
    })
  }
</div>
