---
import PostListDate from "./PostListDate.astro";

const { post } = Astro.props;
---

<PostListDate date={post.data.pubDate} />
<div class="flex flex-col justify-between">
  <div class="mb-4">
    <a class="hover:no-underline" href={`/blog/${post.slug}/`}>
      <h3>{post.data.title}</h3>
    </a>
    <p>{post.data.description}</p>
  </div>
  <div>
    {
      post.data.tags.map((tag: string) => (
        <a class="uppercase mr-6" href="#">
          #{tag}
        </a>
      ))
    }
  </div>
</div>
