---
import { formatDuration, intervalToDuration, format } from 'date-fns';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Calendar from '../../components/Calendar.astro';

const targetDate = new Date(2023, 5, 17, 6);
const duration = intervalToDuration({
  start: new Date(),
  end: targetDate,
});

const BASE_URL =
  process.env.NODE_ENV === 'development'
    ? 'http://127.0.0.1:3000'
    : 'https://iwilsonq.com';

const response = await fetch(`${BASE_URL}/api/workouts`);
const data = await response.json();
const workouts = data.records;

const url = new URL(Astro.request.url);
let selectedDate = new Date();
let month = selectedDate.getMonth();

const monthStr = url.searchParams.get('month');
if (monthStr !== null) {
  month = Number(monthStr);
}
if (month >= 0 && month < 12) {
  selectedDate.setMonth(month);
}
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Race Training</h1>
      <p class="text-xl mb-8">
        {
          formatDuration(duration, {
            format: ['months', 'days'],
            delimiter: ' and ',
          })
        }
        remaining until the <a
          href="https://www.leadvilleraceseries.com/run/trailmarathonheavyhalf/"
          >Leadville Marathon</a
        > on June 17.
      </p>
      <section>
        <div class="mb-4 flex justify-center text-xl items-center">
          <a class="mr-2" href={`/race-training?month=${month - 1}`}>
            {`<`}
          </a>
          <span class="mr-2 text-2xl"
            >{format(selectedDate, 'MMMM')}</span
          >
          <a href={`/race-training?month=${month + 1}`}>{`>`}</a>
        </div>
        <Calendar selectedDate={selectedDate} workouts={workouts} />
      </section>
    </main>
    <Footer />
  </body>
</html>
